* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
  color: white;
}

body {
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}

/* HEADER */
header {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  z-index: 2000;
  border-bottom: 1px solid rgb(231, 180, 96);
}

p {
  font-family: "Kumbh Sans", Helvetica, Arial, Lucida, sans-serif;
}

.wrapper {
  position: absolute;
  background-color: #f8f9fa;
  width: 100%;
  min-height: 100vh;
}
