* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
  color: white;
}

body {
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}

.background-image {
  position: absolute;
  background-color: #f8f9fa;
  width: 100%;
  min-height: 100vh;
}

p {
  font-family: "Kumbh Sans", Helvetica, Arial, Lucida, sans-serif;
}

/* HEADER */
header {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  z-index: 2000;
  border-bottom: 1px solid rgb(231, 180, 96);
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.logo-img {
  max-height: 100%;
  object-fit: contain;
  overflow: hidden;
  margin-left: 30px;
  box-sizing: border-box;
}

/* NAVBAR */

/* .nav-bar {
  display: flex;
  align-items: center;
  justify-items: center;
} */

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 200px;
  height: 54vh;
  transition: all 0.4s ease;
  margin-top: 1px;
  background-color: rgba(0, 0, 0, 0.9);
}

.nav-bar a {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 10px;
  padding: 25px 15px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.nav-bar a.active {
  position: relative;
}

.nav-bar a.active::before {
  content: "";
  position: absolute;
  left: 30%;
  bottom: 6px;
  width: 40%;
  border-bottom: 2px solid rgba(231, 180, 96);
}

.nav-bar.open {
  right: 1px;
}
/* MENU BUTTON  */

.main {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.menu-icon {
  cursor: pointer;
  z-index: 10001;
  display: block;
}

/* Footer */
footer {
  width: 100%;
  height: 800px;
  position: absolute;
  bottom: 0;
  background-color: #141111;
  overflow: hidden;
}
.row::before {
  content: "";
  position: absolute;
  left: 10%;
  top: 0px;
  height: 1px;
  width: 80%;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  position: relative;
}

.footer-column {
  width: 100%;
  text-align: left;
  margin-top: 40px;
  margin-left: 20px;
}

.footer-icon {
  width: 20px;
  position: absolute;
}

footer h3 {
  font-size: 1.5em;
  text-shadow: 1px 1px 1px RGBA(255, 255, 255, 0.63);
  justify-content: left;
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

footer li {
  margin-top: 20px;
}
footer span {
  margin-left: 30px;
}

.copyright {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  text-align: center;
  font-size: 10px;
  color: white;
}

@media (min-width: 800px) {
  .logo {
    margin: 0px;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 0px;
    height: 0px;
    transition: none;
    margin-top: 1px;
    background: none;
  }

  .nav-bar a {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    white-space: nowrap;
  }

  .menu-icon {
    display: none;
  }

  .nav-bar a.active::before {
    left: 30%;
    bottom: -10px;
    width: 40%;
    border-bottom: 2px solid rgba(231, 180, 96);
  }
}
