section#wrapper {
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  height: 200px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(231, 180, 96, 0.6);
}

.title h1 {
  font-size: 3.2rem;
  color: #fffdf6;
  font-family: "Brush Script MT", cursive;
  /* font-family: 'Playfair Display'; */
  text-shadow: 2px 2px 2px RGBA(0, 0, 0, 0.63);
  /* color: white; */
}

section#about-us,
section#our-services,
section#for-kids {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding-bottom: 50px;
  padding-top: 15px;
  line-height: 1.7em;
  padding-bottom: 50px;
}
section#about-us span,
section#our-services span,
section#for-kids span {
  font-weight: 700;
  font-family: "Kumbh Sans", Helvetica, Arial, Lucida, sans-serif;
  color: rgb(231, 180, 96);
  text-transform: uppercase;
}
p {
  font-size: 1.1rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 4%;
  word-wrap: break-word;
  /* color: rgb(231, 180, 96); */
  color: rgb(255, 255, 255);
  font-weight: 300;
  text-align: left;
}

.abt-us-photo {
  margin-top: 20px;
  width: 90%;
  box-shadow: 10px 10px 1px 1px #444f72c7;
}

section#promotion {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: rgb(212, 163, 83);
}

section#promotion span {
  display: block;
  color: #2c2d34;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
}

section#promotion h2 {
  display: block;
  font-family: "Kumbh Sans", Helvetica, Arial, Lucida, sans-serif;
  max-width: 20em;
  font-weight: 500;
}

section#promotion .usluga {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  color: #2c2d34;
  margin-top: 15px;
  padding: 20px 60px;
  border: 2px solid white;
  text-transform: none;
}

section#our-services {
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.our-services-picture {
  width: 100%;
  overflow: hidden;
}

.our-services-picture .our-services-photo {
  object-fit: cover;
  width: 90%;
  height: 350px;
  box-shadow: 10px 10px 1px 1px #444f72c7;
}

.for-kids-photo {
  width: 90%;
  box-shadow: 10px 10px 1px 1px #444f72c7;
}
